{% extends 'base.html.twig' %}

{% block body %}
    <a href="administration">ALLER SUR LA PAGE D'ADMINISTRATION</a>  
    <div id="wrapper">
        <div id="container">
            <div id="welcome">
                <h1><span>Bienvenu sur mon MINIBLOG</span> basé sur le célebre framework Symfony {{ constant('Symfony\\Component\\HttpKernel\\Kernel::VERSION') }}</h1>
            </div>

            <div id="status">
                <p>
                    l'application est présente sur : {{ base_dir }}
                </p>
            </div>

        </div>
    </div>
{% endblock %}

{% block stylesheets %}

{% endblock %}
